@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");
body, input, textarea, select {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #28282B;
}

.button {
  transition: background-color 0.2s ease-in-out;
  position: relative;
  display: inline-block;
  color: #fff !important;
  text-decoration: none;
  font-weight: 700;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  background-color: #9ED2BC;
  padding: 0.8em 2.35em 0.8em 2.35em;
  font-size: 1.5em;
  letter-spacing: -0.025em;
}
.button.space {
  margin-right: 15px;
}

.section {
  margin-top: 50px;
}
.section .section-header {
  text-align: center;
  margin-bottom: 25px;
}
.section .section-header h1 {
  font-size: 2em;
  letter-spacing: -0.015em;
  font-weight: 700;
  margin: 0 0 0.5em 0;
  color: #FFBF68;
}
.section .section-header p {
  font-size: 1.25em;
  color: #888;
  margin: 0;
}

.anchor {
  scroll-margin-top: 75px;
}

#faq .accordion .accordion-header .accordion-button {
  color: #fff;
  background-color: #3C405B;
}
#faq .accordion .accordion-header .accordion-button:not(.collapsed) {
  color: #9ED2BC;
  font-weight: 600;
}
#faq .accordion .accordion-header .accordion-button:focus {
  box-shadow: none;
}
#faq .accordion .accordion-header .accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

#parties .card {
  border: none;
}
#parties .card .card-title {
  font-size: 1.1rem;
}
#parties .card .card-text {
  font-size: 0.8rem;
  color: #888;
}
#parties #coming-soon-header {
  color: #9ED2BC;
}

#lessons #lessons-body #lessons-price {
  width: 100%;
  margin-bottom: 25px;
}
#lessons #lessons-body .lessons-details {
  font-size: 1.25em;
  color: #888;
}
#lessons #lessons-body .lessons-details.last {
  margin-bottom: 0;
}
#lessons #lessons-body .lesson-sub-header {
  color: #888;
}

#contact {
  margin-bottom: 2em;
}
#contact #contact-us-section .online-form-button {
  color: #fff;
  background-color: #9ED2BC;
  font-size: 1.2em;
  letter-spacing: -0.025em;
  font-weight: 700;
}
#contact #contact-us-section .online-form-button.space {
  margin-right: 15px;
}
#contact #contact-us-section .online-form-button.clear {
  background-color: #888;
}
#contact #contact-us-section #other-contact-message {
  font-size: 16px;
  color: #FFBF68;
}
#contact #contact-us-section #other-contact-message a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

#bs-nav {
  padding: 15px 0 15px 0;
  background-color: #3C405B;
}
#bs-nav ul {
  list-style: none;
}
#bs-nav ul li {
  display: inline;
  padding: 0 1.25em;
}
#bs-nav ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
#bs-nav ul li a:hover {
  cursor: pointer;
}

#intro {
  padding-top: 3.4em;
}
#intro .intro-inner {
  padding: 150px 0;
}
#intro .intro-inner .intro-image {
  border-radius: 100%;
  width: 20em;
  height: 20em;
}
#intro .intro-inner header {
  margin: 0 0 2em 0;
}
#intro .intro-inner header h1 {
  margin-top: 0.35em;
  font-size: 3.25em;
  letter-spacing: -0.025em;
  font-weight: 300;
}
#intro .intro-inner header h1 strong {
  font-weight: 700;
  color: #FFBF68;
}
#intro .intro-inner p {
  font-size: 1.5em;
  line-height: 1.75em;
  color: #888;
  margin-bottom: 2em;
}
#intro .intro-inner p strong {
  color: #9ED2BC;
  font-weight: 700;
}

#footer {
  background-color: #3C405B;
  padding: 2em 2em 1em 2em;
}
#footer #footer-follow {
  text-align: center;
}
#footer #footer-follow h1 {
  color: #FFBF68;
  font-size: 1.5em;
  letter-spacing: -0.015em;
  font-weight: 700;
}
#footer #footer-follow a {
  color: #fff;
  font-size: 40px;
  text-decoration: none;
}
#footer #footer-follow p {
  color: #888;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
#footer #footer-follow small {
  color: #888;
  font-size: 12px;
}
#footer #footer-end p {
  color: #fff;
  letter-spacing: 0.1em;
  padding: 15px 8px 0;
  font-size: 12px;
  margin: 0;
}

@media (max-width: 375px) {
  #bs-nav ul li {
    padding: 0 0.5em;
  }
  #bs-nav ul li a {
    font-size: 12px;
  }

  .section .section-header p {
    font-size: 0.8em;
  }

  #lessons #lessons-body .lessons-details {
    font-size: 0.8em;
  }

  #intro {
    padding-top: 2.5em;
  }
  #intro .row > .col-12-medium {
    width: 100%;
  }
  #intro .intro-inner {
    padding: 50px 0;
  }
  #intro .intro-inner .intro-image {
    width: 12em;
    height: 12em;
    display: block;
    margin: auto auto;
  }
  #intro .intro-inner header {
    margin: 0 0 1.3em 0;
    text-align: center;
  }
  #intro .intro-inner header h1 {
    margin-top: 0.8em;
    font-size: 1.5em;
    line-height: 1.25em;
  }
  #intro .intro-inner p {
    font-size: 1em;
    text-align: center;
    margin-bottom: 1.3em;
  }
  #intro .intro-inner .button {
    text-align: center;
    font-size: 1em;
    letter-spacing: 0;
    width: 100%;
    padding: 0.7em 0 0.7em 0;
  }

  #contact #contact-us-section #other-contact-message {
    font-size: 12px;
  }

  #footer #footer-follow {
    text-align: center;
  }
  #footer #footer-follow h1 {
    font-size: 1.25em;
  }
  #footer #footer-follow a {
    font-size: 35px;
  }
  #footer #footer-follow p {
    font-size: 16px;
  }
  #footer #footer-end p {
    padding: 15px 0 0;
    font-size: 9px;
    text-align: center;
  }
}
@media (min-width: 376px) and (max-width: 767px) {
  #bs-nav ul li {
    padding: 0 1em;
  }
  #bs-nav ul li a {
    font-size: 14px;
  }

  .section .section-header p {
    font-size: 1em;
  }

  #lessons #lessons-body #lessons-price {
    width: 100%;
    margin-bottom: 25px;
  }
  #lessons #lessons-body .lessons-details {
    font-size: 1em;
  }

  #intro {
    padding-top: 2.5em;
  }
  #intro .row > .col-12-medium {
    width: 100%;
  }
  #intro .intro-inner {
    padding: 50px 0;
  }
  #intro .intro-inner .intro-image {
    width: 15em;
    height: 15em;
    display: block;
    margin: auto auto;
  }
  #intro .intro-inner header {
    margin: 0 0 1.5em 0;
    text-align: center;
  }
  #intro .intro-inner header h1 {
    margin-top: 0.5em;
    font-size: 2.25em;
    line-height: 1.25em;
  }
  #intro .intro-inner p {
    font-size: 1em;
    text-align: center;
  }
  #intro .intro-inner .button {
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 0;
    width: 100%;
    padding: 0.7em 0 0.7em 0;
  }

  #contact #contact-us-section #other-contact-message {
    font-size: 12px;
  }

  #footer #footer-end p {
    color: #fff;
    letter-spacing: 0.1em;
    padding: 15px 8px 0;
    font-size: 12px;
    margin: 0;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #parties .card .card-text {
    font-size: 1rem;
  }

  #intro .intro-inner {
    padding: 50px 0;
  }
  #intro .intro-inner .intro-image {
    width: 12em;
    height: 12em;
  }
  #intro .intro-inner header {
    margin: 0 0 1.5em 0;
  }
  #intro .intro-inner header h1 {
    font-size: 2.25em;
    font-weight: 300;
  }
  #intro .intro-inner p {
    font-size: 1em;
  }
  #intro .intro-inner .button {
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 0;
    width: 100%;
    padding: 0.7em 0 0.7em 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #parties .card .card-text {
    font-size: 0.1rem;
  }

  #intro .intro-inner {
    padding: 100px 0;
  }
  #intro .intro-inner .intro-image {
    width: 18em;
    height: 18em;
  }
  #intro .intro-inner header {
    margin: 0 0 1.5em 0;
  }
  #intro .intro-inner p {
    font-size: 1.5em;
    line-height: 1.75em;
    color: #888;
    margin-bottom: 1.5em;
  }
  #intro .intro-inner .button {
    font-size: 1.35em;
    padding: 0.7em 2.35em 0.7em 2.35em;
  }
}
@media (min-width: 1200px) {
  #contact {
    margin-bottom: 2em;
  }
  #contact #contact-us-section {
    padding: 0 200px;
  }

  #lessons #lessons-body #lessons-price {
    width: 50%;
  }
}