@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700');

body, input, textarea, select {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: $black;
}

.button {
    transition: background-color .2s ease-in-out;
    position: relative;
    display: inline-block;
    color: $white !important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    background-color: $branding-green;
    padding: .8em 2.35em .8em 2.35em;
    font-size: 1.5em;
    letter-spacing: -0.025em;

    &.space {
        margin-right: 15px;
    }
}

.section {
    margin-top: 50px;

    .section-header {
        text-align: center;
        margin-bottom: 25px;
    
        h1 {
            font-size: 2em;
            letter-spacing: -0.015em;
            font-weight: 700;
            margin: 0 0 0.5em 0;
            color: $branding-yellow;
        }
    
        p {
            font-size: 1.25em;
            color: $grey;
            margin: 0;
        }
    }
}

.anchor {
    scroll-margin-top: 75px;
}

#faq {
    .accordion {
        .accordion-header {
            .accordion-button {
                color: $white;
                background-color: $branding-blue;

                &:not(.collapsed) {
                    color: $branding-green;
                    font-weight: 600;
                }

                &:focus {
                    box-shadow: none;
                }

                &:after {
                    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
                }
            }
        }
    }
}

#parties {
    .card {
        border: none;

        .card-title {
            font-size: 1.1rem;
        }

        .card-text {
            font-size: .8rem;
            color: $grey;
        }
    }

    #coming-soon-header {
        color: $branding-green;
    }
}

#lessons {
    #lessons-body {
        // #lessons-price {
        //     font-size: 26px;
        //     color: $branding-green;
        //     font-weight: 700;
        //     margin-bottom: 25px;
        // }

        #lessons-price {
            width: 100%;
            margin-bottom: 25px;
        }

        .lessons-details {
            font-size: 1.25em;
            color: $grey;
        }

        .lesson-sub-header {
            color: $grey;
            text-decoration: underline;
        }
    }
}

#contact {
    margin-bottom: 2em;

    #contact-us-section {
        .online-form-button {
            color: $white;
            background-color: $branding-green;
            font-size: 1.2em;
            letter-spacing: -0.025em;
            font-weight: 700;

            &.space {
                margin-right: 15px;
            }

            &.clear {
                background-color: $grey;
            }
        }

        #other-contact-message {
            font-size:  16px;
            color: $branding-yellow;

            a {
                text-decoration: none;
                font-weight: 700;
                color: inherit;
            }
        }
    }
}

#bs-nav {
    padding: 15px 0 15px 0;
    background-color: $branding-blue;

    ul {
        list-style: none;
        
        li {
            display: inline;
            padding: 0 1.25em;

            a {
                color: $white;
                font-size: 16px;
                font-weight: 600;
                text-decoration: none;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

#intro {
    padding-top: 3.4em;

    .intro-inner {
        padding: 150px 0;

        .intro-image {
            border-radius: 100%;
            width: 20em;
            height: 20em;
        }

        header {
            margin: 0 0 2em 0;

            h1 {
                margin-top: 0.35em;
                font-size: 3.25em;
                letter-spacing: -0.025em;
                font-weight: 300;

                strong {
                    font-weight: 700;
                    color: $branding-yellow;
                }
            }
        }

        p {
            font-size: 1.5em;
            line-height: 1.75em;
            color: $grey;
            margin-bottom: 2em;
        }
    }
}

#footer {
    background-color: $branding-blue;
    padding: 2em 2em 1em 2em;

    #footer-follow {
        text-align: center;

        h1 {
            color: $branding-yellow;
            font-size: 1.5em;
            letter-spacing: -0.015em;
            font-weight: 700;
        }

        a {
            color: $white;
            font-size: 40px;
            text-decoration: none;
        }

        p {
            color: $grey;
            font-size: 18px;
            font-weight: 500;
            margin: 0;
        }

        small {
            color: $grey;
            font-size: 12px;
        }
    }

    #footer-end {
        p {
            color: $white;
            letter-spacing: .1em;
            padding: 15px 8px 0;
            font-size: 12px;
            margin: 0;
        }
    }
}

// -------------------------------------- Media Queries --------------------------------------
// Tiny devices (landscape phones, 576px and up)
@media (max-width: 375px) {
    #bs-nav {
        ul {
            li {
                padding: 0 .5em;

                a {
                    font-size: 12px;
                }
            }
        }
    }

    .section {
        .section-header {
            p {
                font-size: .8em;
            }
        }
    }

    #lessons {
        #lessons-body {
            .lessons-details {
                font-size: .8em;
            }
        }
    }

    #intro {
        padding-top: 2.5em;

        .row > .col-12-medium {
            width: 100%;
        }
    
        .intro-inner {
            padding: 50px 0;
    
            .intro-image {
                width: 12em;
                height: 12em;
                display: block;
                margin: auto auto;
            }
    
            header {
                margin: 0 0 1.3em 0;
                text-align: center;
    
                h1 {
                    margin-top: .8em;
                    font-size: 1.5em;
                    line-height: 1.25em;
                }
            }
    
            p {
                font-size: 1em;
                text-align: center;
                margin-bottom: 1.3em;
            }

            .button {
                text-align: center;
                font-size: 1em;
                letter-spacing: 0;
                width: 100%;
                padding: .7em 0 .7em 0;
            }
        }
    }

    #contact {
        #contact-us-section {
            #other-contact-message {
                font-size:  12px;
            }
        }
    }

    #footer {
        #footer-follow {
            text-align: center;
    
            h1 {
                font-size: 1.25em;
            }
    
            a {
                font-size: 35px;
            }
    
            p {
                font-size: 16px;
            }
        }

        #footer-end {
            p {
                padding: 15px 0 0;
                font-size: 9px;
                text-align: center;
            }
        }
    }
}

// Small devices (landscape phones, 55px and up (576))
@media (min-width: 376px) and (max-width: 767px) {
    #bs-nav {
        ul {
            li {
                padding: 0 1em;

                a {
                    font-size: 14px;
                }
            }
        }
    }

    .section {
        .section-header {
            p {
                font-size: 1em;
            }
        }
    }

    #lessons {
        #lessons-body {
            #lessons-price {
                width: 100%;
                margin-bottom: 25px;
            }
    
            .lessons-details {
                font-size: 1em;
            }
        }
    }

    #intro {
        padding-top: 2.5em;

        .row > .col-12-medium {
            width: 100%;
        }
    
        .intro-inner {
            padding: 50px 0;
    
            .intro-image {
                width: 15em;
                height: 15em;
                display: block;
                margin: auto auto;
            }
    
            header {
                margin: 0 0 1.5em 0;
                text-align: center;
    
                h1 {
                    margin-top: 0.5em;
                    font-size: 2.25em;
                    line-height: 1.25em;
                }
            }
    
            p {
                font-size: 1em;
                text-align: center;
            }

            .button {
                text-align: center;
                font-size: 1.1em;
                letter-spacing: 0;
                width: 100%;
                padding: .7em 0 .7em 0;
            }
        }
    }

    #contact {
        #contact-us-section {
            #other-contact-message {
                font-size:  12px;
            }
        }
    }

    #footer {
        #footer-end {
            p {
                color: $white;
                letter-spacing: .1em;
                padding: 15px 8px 0;
                font-size: 12px;
                margin: 0;
                text-align: center;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    #parties {
        .card {
            .card-text {
                font-size: 1rem;
            }
        }
    }

    #intro {
        .intro-inner {
            padding: 50px 0;
    
            .intro-image {
                width: 12em;
                height: 12em;
            }
    
            header {
                margin: 0 0 1.5em 0;
    
                h1 {
                    font-size: 2.25em;
                    font-weight: 300;
                }
            }
    
            p {
                font-size: 1em;
            }

            .button {
                text-align: center;
                font-size: 1.1em;
                letter-spacing: 0;
                width: 100%;
                padding: .7em 0 .7em 0;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    #parties {
        .card {
            .card-text {
                font-size: .1rem;
            }
        }
    }

    #intro {
        .intro-inner {
            padding: 100px 0;
    
            .intro-image {
                width: 18em;
                height: 18em;
            }

            header {
                margin: 0 0 1.5em 0;
            }
    
            p {
                font-size: 1.5em;
                line-height: 1.75em;
                color: $grey;
                margin-bottom: 1.5em;
            }

            .button {
                font-size: 1.35em;
                padding: .7em 2.35em .7em 2.35em;
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #contact {
        margin-bottom: 2em;
    
        #contact-us-section {
            padding: 0 200px;
        }
    }

    #lessons {
        #lessons-body {
            #lessons-price {
                width: 50%;
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}